<% if logged_in? %>
  <script type='text/javascript'>
    window.currentUser = <%= render(
      'api/users/bootstrap.json.jbuilder',
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<main id="root">
  <h1>Something went wrong. React has not loaded properly.</h1>
</main>
